/*ini form*/
h1{
	text-align: center;
	color: #2ABB9B;
}
table,td,th,tr{
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
	padding: 5px

}
th{
	background-color: #C42027;
}
table.center{
	margin-left:auto;
	margin-right: auto; 
}
.bad{
	background-color: #D99391;
}
.cus{
	background-color: #C9E3D8;
}
.bak{
	background-color: #4E302E;
}



/*pemabatas syle-lyric*/
body{
     background-image: url(images.jpg); no-repeat fixed;
    -webkit-background-size: 100% 100%;
   -moz-background-size: 100% 100%;
   -o-background-size: 100% 100%;
   background-size: 100% 100%;
     
    
}
.col{
	color:#C71585;
}

.juds{
	color:#191970;
}

.h3 {
    text-decoration: underline;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	align-items: center;
}

li {float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px 17px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}
li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;